:root {
    --watson-blue: #3BA4CE;
    --watson-green: #93BC58;
    --gray: #f0f0f0;
    --darkgray: #818181;
    --white: #ffffff;
    --navbar-width: 200px;
}

html {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
}

body {
    margin-left: var(--navbar-width);
    padding: 0px 12px 0px 12px;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

#root {
    bottom: 0px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.side-nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: var(--navbar-width); /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    /* padding-top: 20px; */ /* taken over by login widget now */
}

/* The navigation menu links */
.side-nav button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 3px 8px 3px 18px;
    text-decoration: none;
    font-size: 24px;
    color: var(--darkgray);
    display: block;
    text-align: left;
}

.login-widget {
    background: var(--watson-blue);
    padding: 20px 10px;
}

.login-widget label {
    color: var(--white);
    width: 100%;
    font-size: 14px;
}

.login-widget input {
    width: 92%;
}

.login-widget .login-title {
    font-size: 30px;
}

.login-widget .login-button {
    width: 100px;
}

.login-widget .logout-button {
    width: 100px;
    color: white;
    background: red;
}

/* When you mouse over the navigation links, change their color */
.side-nav a:hover {
    color: #f1f1f1;
}

.main-content {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D3D3D3;
    background: #000000;
    margin: 20px 0px 24px 0px;
    padding: 0;
    text-align: center;
    font-size: 40px;
    flex: none;
}

.message-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.send-message-form {
    position: relative;
    flex: none;
    left:0px;
    right: 0px;
    bottom: 0px;
    min-height: 40px;
    margin-bottom: 24px;
    font-size: 24px;
}

.message-item {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    animation-name: fadein;
    animation-duration: 0.25s;
}

.message-item .message-sender {
    font-size: 12px;
    color: #808080;
}

.message-text {
    font-size: 24px;
    border-radius: 12px;
    margin: 0px;
    display: inline-block;
}

.message-item.plain .message-text span {
    float:left;
    background: var(--gray);
    border-radius: 12px;
    display: inline-block;
    padding: 8px;
}

.message-item.color {
    float:right;
}

.message-item.color .message-text {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-end;
    float:right;
}

.message-item.color .message-text span {
    float:right;
    background: var(--watson-blue);
    border-radius: 12px;
    display: inline-block;
    padding: 8px;
}

.message-item.color .message-sender {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.box {
  width: 100px;
  height: 100px;
  background: #ff1c68;
  transform-origin: 50% 50%;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.graph {
    position: relative;
    min-width: 1000px;
    max-width: 1000px;
    height: 400px;
    background: #ddd;
    display:flex;
}

.line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    background: rgba(0, 0, 0, 0.1);
    left: 10%;
}

.bar-text-content {
    height: 100%;
    width: 12%;
    background: white;
}
.bar-text-content .text {
    height: 6.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.bar-lines-container {
    width: 88%;
    height: 100%;
    background: var(--gray);
    position:relative;
}
.bar {
    height: 6.4%;
    background: #e05b42;
    z-index: 25;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
}