extends layout

block content
  script(type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js')
  script(type='text/javascript' src='/javascripts/conversationFunctions.js')
  h2 Conversation with Watson
  .chatMsgs
  .container.darker
    input#user_input(type='text' name='Your message:' size='88')
    br
    button#send_button(type='button' onclick='button_send()') Send
    script(type='text/javascript').
      var input = document.getElementById("user_input")
        input.addEventListener("keyup", function(event) {
          if (event.keyCode == 13) {
            document.getElementById("send_button").click()
            console.log("this script has run")
          }
        })
