extends layout

block content
  h1= title
  p Welcome to #{title}, created by Jonathon Huang, Aakash Singh, Stephen Wan, and Ziheng Wei
  p The "Conversation with Watson" tab will start a conversation with Watson to begin collecting interests and personality information about the user.
  p The "User Personality" tab will display information that Watson has gathered from the conversation about a user's interests and personality.
