doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  #sidenav
    a(href='/') Home
    a(href='/conversation') Conversation with Watson
    a(href='/conversation/get-groups') Check for Matches
    a(href='/personality') User Personality
  body
    #content
      block content
