body {
  margin-left: 200px;
  padding: 0px 0px 0px 12px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* max-width: 800px; */
}

/* The sidebar menu */
#sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
#sidenav a {
    padding: 6px 8px 12px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
#sidenav a:hover {
    color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#content {
    position: fixed;
    width: 900px;
}

/* The input message box */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 10px;
    min-height: 60px;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.chatMsgs {
    bottom: 0px;
    overflow-y: scroll;
    position: relative;
    height: 400px;
    /* width: 800px; */
    display: block;
}

/* TO-DO: make the user_input input box at the bottom of the webpage */
#user_input {
    bottom: 0px;
}

.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
}
