:root {
    --watson-blue: #3BA4CE;
    --watson-green: #93BC58;
}

html {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
}

body {
    margin-left: 200px;
    padding: 0px 12px 0px 12px;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

#root {
    bottom: 0px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.side-nav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */
.side-nav a {
    padding: 3px 8px 3px 18px;
    text-decoration: none;
    font-size: 24px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.side-nav a:hover {
    color: #f1f1f1;
}

.main-content {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    width: 100%;
    bottom: 0px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D3D3D3;
    background: #000000;
    margin: 20px 0px 24px 0px;
    padding: 0;
    text-align: center;
    font-size: 40px;
    flex: none;
}

.message-list {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: auto;
    margin-bottom: 10px;
    padding: 10px;
}

.send-message-form {
    position: relative;
    flex: none;
    left:0px;
    right: 0px;
    bottom: 0px;
    min-height: 40px;
    margin-bottom: 24px;
    font-size: 24px;
}

.message-item {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.message-item .message-sender {
    font-size: 12px;
    color: #808080;
}

.message-text {
    font-size: 24px;
    border-radius: 12px;
    margin: 0px;
    display: inline-block;
}

.message-item.plain .message-text span {
    float:left;
    background: #f0f0f0;
    border-radius: 12px;
    display: inline-block;
    padding: 8px;
}

.message-item.color {
    float:right;
}

.message-item.color .message-text {
    display: inline-block;
    flex-direction: row;
    justify-content: flex-end;
    float:right;
}

.message-item.color .message-text span {
    float:right;
    background: var(--watson-blue);
    border-radius: 12px;
    display: inline-block;
    padding: 8px;
}

.message-item.color .message-sender {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}